body> :nth-child(2) {
  padding-top: 60px;
}

h3 {

  color: black;
  font-size: var(--font-size-lg);
}

hr {
  border: none;
  height: 4px;
  width: 257px;
  background-color: #0d685a;
  /* or use a variable like var(--accent-color) */
  margin: 10px 0 20px 0;
  border-radius: 2px;
}

.aboutus-main-container {
  /* Clear the fixed header */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.aboutus-title {
  font-size: var(--font-size-xxl);
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.aboutus-box1,
.aboutus-box4 {
  border-radius: 20px;
  padding: 30px;
  text-align: left;
  max-height: 48rem;
  box-shadow: var(--green-shadow);
}

.aboutus-box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 60px 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 13rem;
  margin-bottom: 21rem;

  /* background-color: var(--text-box); */
}

.aboutus-box1 h3 {
  color: black;
}

.aboutus-box1 p {
  color: var(--text-dark);
}

.aboutus-box3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus-box3 img {
  max-width: 400px;
  border-radius: 14rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.aboutus-box4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0 5% 140px 5%;
  /* background-color: var(--text-box); */
}

.aboutus-box4 h3 {
  margin-bottom: 15px;
  color: black;
}

.member-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: var(--text-dark);
}

.member-list li {
  font-size: 1rem;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
  color: var(--text-dark);
}

.member-list li::before {
  content: "•";
  /* color: var(--text-dark); */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}