hr {
    border: none;
    height: 4px;
    width: 257px;
    background-color: #0d685a;
    /* or use a variable like var(--accent-color) */
    margin: 10px 0 20px 0;
    border-radius: 2px;
}

.r-heading {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.resource {
    max-width: 1400px;
    margin: 0 auto;
    padding: 90px 60px 40px;
    min-height: 83.2vh
}

.split-contain {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.reference {
    padding: 1rem;
    border-radius: 8px;
    margin: 0;
    width: 100%;
    max-width: 300px;
    min-width: unset;
    background-color: var(--text-box);
    color: white;
}

/* Clickable header */
.reference summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    user-select: none;

    display: flex;
    align-items: center;
}

.reference summary::before {
    content: '▶';
    font-size: 1.2rem;
    margin-right: 0.5rem;
    transition: transform 0.4s ease-in-out;
    display: inline-block;
    color: white;
}

.reference[open] summary::before {
    transform: rotate(90deg);
}

.reference li {
    font-size: 1rem;
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}

.reference li ::before {
    content: "•";
    color: var(--text-light);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* When open, expand the content */
.reference[open] .ref-content {
    max-height: 500px;
    /* Enough to fit your content */
    opacity: 1;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
}

/* Left side - two stacked boxes */
.r-left-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Right side */
.r-right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

/* Box styling */
.research,
.org,
.reference {
    padding: 1.8rem;
    border-radius: 8px;
    box-shadow: var(--green-shadow);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .split-contain {
        grid-template-columns: 1fr;
    }

    .right-container {
        margin-top: 2rem;
    }

    .reference {
        max-width: 100%;
        margin: 0 auto;
    }
}